* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(10px);
    z-index: 1000;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

.header-image {
    background: url('bgimages/m1.jpeg') no-repeat center center/cover;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.images-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.image-item {
    position: relative;
    margin: 10px;
    text-align: center;
}

.image-item img {
    max-width: 100%;
    width: 600px;
    height: auto;
    display: block;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.image-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}

.image-item h1 {
    margin: 10px 0;
    font-size: 24px;
}

.image-item p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.image-item button {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.image-item button:hover {
    background-color: #333;
    color: #fff;
}

.image-item:hover .overlay {
    opacity: 1;
}

/* Footer styles */
footer {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: black;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}
